export(gbmt, posterior)

S3method(print, gbmt)
S3method(summary, gbmt)
S3method(plot, gbmt)
S3method(coef, gbmt)
S3method(residuals, gbmt)
S3method(fitted, gbmt)
S3method(predict, gbmt)
S3method(logLik, gbmt)
S3method(extractAIC, gbmt)
S3method(AIC, gbmt)
S3method(BIC, gbmt)

import(Matrix)
importFrom("methods", "is")
importFrom("grDevices", "n2mfrow", "col2rgb", "rgb")
importFrom("graphics", "abline", "axis", "box", "grid", "lines", "par", "legend", "polygon")
importFrom("stats", "sd", "cov", "dnorm", "formula", "lm", "nobs", "predict.lm", "fitted", "residuals", "qt", "quantile", "var", "AIC", "BIC", "extractAIC", "cutree", "dist", "hclust", "na.omit", "spline")
importFrom("utils", "flush.console")